:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --secondary-color: #ffffff;
    --color: #000000;
    --third-color: rgba(255, 255, 255, 0.6);
    --icon-color: #afb1b8;
    --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }